.container {
  width: Fixed (160.96px) px;
  height: Hug (291.63px) px;
  gap: 9.11px;
  /* vertical-align: middle; */
  margin-right: 10px;
  padding-bottom: 20px;
}

.description {
  text-align: left;
  font-size: 12px;
}

.element :global(.vtex-button) {
  background-color: transparent;
  margin-top: 3px;
}

/* ----caro--- */
.buttonDataContainer--custom-buy-button::before {
  content      : url("/arquivos/cart.svg");
  width        : 16.8px;
  height       : 17.5px;
  padding-right: 10px;
}

.element :global(.vtex-button__label) {
  /* content: url("/arquivos/cart.svg"); */
  color: black;
  height: auto;
  width: auto;
  margin-right: 8px;
  padding: 5px;

}

.element:global(.vtex-buttonText) {
  color: black;
  width: auto;
  padding: 0%;
  margin: 0%;
  font-size: 16px;
  vertical-align: middle;
}


/* --imagenes del sumarylist-- */

.imageContainer{
  align-items: center;
  height: 180px;
}


.imageNormal{
  width: 100%;
  height: 160px;
  align-items: end;
}
