.sliderLayoutContainer {
  padding-left: 2px;
  padding-right: 1px;
}

@media (min-width: 1024px) {
  .caretIcon {
    color: black;
    /* background-color: aqua; */
  }

  .sliderLayoutContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}
