.sliderLayoutContainer {
  padding-left: 2px;
  padding-right: 1px;
}

@media (min-width: 1024px) {
  .caretIcon {
    color: black;
    /* background-color: aqua; */
  }

  .sliderLayoutContainer {
    /* background-color: bisque; */
    padding-left: 40px;
    margin-left: 53px;
    padding-right: 40px;
    margin-right: 53px;
  } 

}

