/* --contenedor general del sumary list--- */

.container {
  width: Fixed (160.96px) px;
  height: Hug (291.63px) px;
  gap: 9.11px;
  /* vertical-align: middle; */
  margin-right: 10px;
  padding-bottom: 20px;
}

/* --imagenes del sumarylist-- */

.imageContainer {
  align-items: center;
  height: 180px;
}

.imageNormal {
  width: 100%;
  height: 160px;
  align-items: end;
}

/* --descripcion del producto--- */


.description {
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;  
  -webkit-line-clamp: 3; 
  -webkit-box-orient:vertical;
  /*overflow:hidden;    */         
  text-overflow: ellipsis;
  margin-bottom: 10px;
   
}



/* .description {
  text-align: left;
  font-size: 12px;
} */

/*boton*/

.container :global(.vtex-button) {
  background-color: transparent;
  /* width: 160px; */
  height: 32px;
  border-radius: 8px;
  border: 1px solid #1d2734;
}

:global(.vtex-add-to-cart-button-0-x-buttonText--buy-button) {
  color: black;
  text-transform: capitalize;
  font-family: Lexend;
  font-size: 14px;
}

:global(.vtex-add-to-cart-button-0-x-buttonDataContainer--buy-button) {
  width: 160px;
  height: 36px;
  padding: 3px;
}

:global(.vtex-add-to-cart-button-0-x-buttonDataContainer--buy-button) {
  background-image: url("/arquivos/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  display: inline-block;
  padding-left: 15px;
  background-position:25px;
}
