
.wishlistIcon--favorite {
    background-image: url("/arquivos/favorite.svg") !important;
    width           : 25px;
    height          : 25px;
    margin-left: 5px;
    position        : absolute;
    background-image: #1D2734;
  }

 .wishlistIconContainer{
    width: 100% !important;
    padding-left: 50% !important;
    padding-bottom: 20px !important;
    border: 3px;
    color: black;

 }

