

@media (min-width: 1024px) {

  /* flex items-stretch justify-start mb0 mt0 pb0 pt0 vtex-flex-layout-0-x-flexRowContent  */
  :global(.vtex-flex-layout-0-x-flexRowContent--menu-bar){
    padding-right: 180px !important;
  }

  .vtex-flex-layout-0-x-flexRow{
    width: fit-content;
  }
  
  .styledLinkContainer--menu-item{
    margin-left: 2px;
    margin-right: 2px;
  }
  /* vtex-menu-2-x-styledLinkContainer vtex-menu-2-x-styledLinkContainer--menu-item mh6 */
  
   .styledLinkContent{
     font-size: 12px;
      margin-top: 22px !important;
      margin-left: 0px;
      margin-right: 8px;
   }
   
     }
  
   
   