.container {
    margin-top: 6px;
    margin-right: 10px;
    background: #1d2734;
    height: 40px;
    width: 80px;
    border-radius:40px;
    border: 1px;
    opacity: 0px;  
    justify-content: center;
  }
  
  .label {
    color: white;
    display: block;
    text-transform: lowercase;
    margin-right: 8px;
  }
  
  .label::first-letter {
    text-transform: capitalize;
  }