.flexRowContent {
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: blueviolet; */
   
  
}


.flexColChild  {
     background-color: aqua; 
    width: 70px;
    height: 47px;
    /* align-content: center; */
    margin-left: 10px;
   
}

