.paginationDot--carousel {
    background-color: black; 
    width: 40px !important; 
    height: 0px !important; 
    border-radius: 0; 
    border: 0cap;
} 

.sliderTrackContainer {
    margin-bottom: 25px;
    margin-left: 10px;
    /*padding-left: 10px; */
    /* width: 242px;
    height: 240.11px; */
    border-radius: 8px;
}



.paginationDotsContainer {
    /* margin-bottom: 15px; */
    padding-bottom: 10px;
  
}

