.paginationDot {
  width: 44px !important;
  height: 40px !important;
  border-radius: 0;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}

.paginationDot--isActive::before {
  content: "";
  position: absolute;
  right: -8px;
  width: 16px;
  height: 16px;
  background-color: #1d2734;
  border-radius: 50%;
}
.paginationDot::after {
  width: 44px;
  height: 2px;
  content: "";
  font-size: 0;
  background-color: #1d2734;
  position: absolute;
}

.sliderTrackContainer {
  margin-bottom: 55px;
  margin-left: 10px;
  /*padding-left: 10px; */
  /* width: 242px;
    height: 240.11px; */
  border-radius: 8px;
}

.paginationDotsContainer {
  /* margin-bottom: 15px; */
  padding-bottom: 10px;
}

.caretIcon {
  color: transparent;
}

.containerNormal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ------------------------media quiery------------------ */

@media (min-width: 1024px) {
  .sliderLayoutContainer--carousel {
    /* background-color:aqua; */
    padding-left: 40px !important;
    margin-left: 53px !important;
    padding-right: 40px !important;
    margin-right: 53px !important;
    width: auto;
  }

  /* flex items-center justify-center vtex-slider-layout-0-x-slideChildrenContainer 
  vtex-slider-layout-0-x-slideChildrenContainer--carousel w-100 */

  /* :global(.vtex-slider-layout-0-x-slideChildrenContainer--carousel) {
    width: 300px px;
       
  } */


}
